h1, h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}
.remove-note,
.remove-note:hover {
    float: left;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
#label {
    text-align: right;
}
body{
direction: rtl;
font-family: 'Vazir-medium', sans-serif;
font-weight: 500;

}
