*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe4c4;
}

.action {
    position: fixed;
    top: 35%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.action .profile{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
    position: relative;
    overflow: hidden;
}

.action .profile img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.action .menu{
    position: absolute;
    top: 35%;
    left: 0px;
    background-color: #ffff;
    width: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}